.form{
    display: flex;
}
.barra-label-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.campo-input{
    height: 40px;
    width: 400px;
    border: none;
}
.barra-pesquisa-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.barra-input-container{
    display: flex;
    background-color: aqua;
    padding: 2px;
    border: 2px solid lightgray;
}