.section-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.section-container-center {
    width: 85%;
}

.section-title-container {
    border-bottom: 1px solid #BEBEBE;
    padding-bottom: 1rem;
    margin-bottom: 2.25rem;
}

.title-section {
    font-size: 1.4rem;
    background-color: #E0F300;
    padding: .5rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 3px;
}

.section-container-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    gap: .25rem;
}

@media(max-width: 800px) {
    .title-section {
        font-size: 1.2rem;
    }
}

@media(max-width: 475px) {
    .section-container-products {
        flex-direction: column;
    }
}
