.container-box-fechar-compra {
    display: flex;
    flex-direction: column;

    min-width: 350px;
    text-align: center;
    padding: 1.25em;
    border: 2px solid lightgray;
    border-radius: 15px;
}

.container-box-fechar-compra h3 {
    font-size: 1.7rem;
    font-weight: 400;
    margin: 0;
}

.container-box-fechar-compra h4,
span {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}

.container-box-fechar-compra div {
    margin: 1rem 0;
}

.container-box-fechar-compra input {
    width: 90%;
    padding: .75em 1em;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: aliceblue;
    font-size: 1.5rem;
    cursor: pointer;
}

.cbf-meio {
    display: flex;
    justify-content: space-between;
}

@media(max-width: 1150px) {
    .container-box-fechar-compra {
        min-width: 300px;
    }

    .container-box-fechar-compra input {
        font-size: 1.25rem;
    }
}

@media(max-width: 950px) {
    .container-box-fechar-compra {
        min-width: 250px;
    }

    .container-box-fechar-compra input {
        font-size: 1.1rem;
    }

    .container-box-fechar-compra h3 {
        font-size: 1.5rem;
    }

    .container-box-fechar-compra h4,
    span {
        font-size: 1.3rem;
    }

    .container-box-fechar-compra input {
        font-size: 1rem;
    }
}

@media(max-width: 825px) {
    .container-box-fechar-compra {
        margin-bottom: 1rem;
    }

    .cbf-topo {
        display: none;
    }

    .container-box-fechar-compra div {
        margin: 1rem;
    }

    .container-box-fechar-compra input {
        width: 70%;
    }
}
