.banner-container{
    background-color: aqua;
    height: 480px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/background-banner.jpg');
    background-size: cover;
}

.banner-container-centro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    flex-direction: row;
}
.banner-foto-esquerda{
    width: 300px;
    height: 400px;
    position: relative;
}
.banner-foto-esquerda div{
   background-color: black;
   position: absolute;
   top: calc(100% - 28.39px);
   padding: 5px;
}
.banner-foto-esquerda span{
    color: aliceblue;
 }
.banner-foto-esquerda img{
    width: 100%;
    object-fit: cover;
    height: 400px;
    border-radius: 10px;
}
.banner-foto-centro{
    width: 450px;
    height: 400px;
    position: relative;
}
.banner-foto-centro div{
    background-color: black;
    position: absolute;
    top: calc(100% - 28.39px);
    padding: 5px;
}
.banner-foto-centro span{
    color: aliceblue;
}
.banner-foto-centro img{
    width: 100%;
    object-fit:cover;
    height: 400px;
    border-radius: 10px;

}
.banner-foto-direita{
    width: 300px;
    height: 400px;
    position: relative;
}
.banner-foto-direita div{
    background-color: black;
    position: absolute;
    top: calc(100% - 28.39px);
    padding: 5px;
}
.banner-foto-direita span{
   color: aliceblue;
    
}
.banner-foto-direita img{
    width: 100%;
    object-fit: cover;
    height: 400px;
    border-radius: 10px;
}
