.nav-home-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-home-container ul{
    list-style: none;
    padding: 0px;
}
.nav-home-container a{
    text-decoration: none;
    background-color: #00034F;
    color: white;
    padding: 4px;
    
}
.nav-home-container li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    
}
