.form {
    display: flex;
}

.barra-pesquisa-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.barra-label-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .75rem;
}

.barra-input-container {
    display: flex;
    background-color: #efefef;
    padding: 2px;
}

.campo-input {
    width: 25rem;
    border: none;
    padding: .5rem;
    font-size: 1.2rem;
    outline: none;
}

.button-search {
    height: 100%;
    border: none;
    width: 4rem;
    cursor: pointer;
}
