.comentario-container {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: .75rem;
}

.nick-container span {
    font-size: 1.5rem;
    font-weight: bold;
}

.coment-container {
    font-size: 1.25rem;
}

@media(max-width: 700px) {
    .nick-container span {
        font-size: 1.25rem;
    }

    .coment-container {
        font-size: 1rem;
    }

}

@media(max-width: 450px) {
    .nick-container span {
        font-size: 1rem;
    }

    .coment-container {
        font-size: .9rem;
    }

}
