.box-product-container {
    width: 260px;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.box-product-container:hover {
    opacity: 0.8;
    transform: scale(1.05, 1.05);
}

.box-product-container img {
    width: 100%;
    object-fit: contain;
    height: 250px;
}

.box-product-container a {
    text-decoration: none;
    color: black;
}

.box-product-container h1 {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: .25rem;
}

.box-image-container {
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: .5rem;
}

@media(max-width: 1250px) {
    .box-product-container {
        width: 225px;
    }

    .box-product-container img {
        height: 215px;
    }
}

@media(max-width: 900px) {
    .box-product-container {
        width: 200px;
    }

    .box-product-container img {
        height: 175px;
    }
}

@media(max-width: 575px) {
    .box-product-container {
        width: 175px;
    }

    .box-product-container img {
        height: 150px;
    }
}

@media(max-width: 475px) {
    .box-product-container {
        width: 225px;
    }

    .box-product-container img {
        height: 200px;
    }
}
