.button-generic {
  width: 45%;
  min-width: 90px;
  border: none;
  padding: .75rem 1.5rem;
  background-color: teal;
  color: white;
  cursor: pointer;
  margin: 1rem 0;
  border-radius: 7px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button-generic:hover {
  background-color: hsl(180, 80%, 40%);
}

@media(max-width: 625px) {
  .button-generic {
    width: 100%;
  }
}
