.container-carrinho-box{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
    width: 700px;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.div-image-carrinho img{
    object-fit: contain;
    height: 170px;
    width: 170px;
}

.c-2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 20px;
}
.container-quant-preco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-container-buttons{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-cen-carrinho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}
.c-cen-carrinho span{
    font-size: 2.0em;
}

.container-preco-carrinho span{
    font-size: 2.0em;
}
.c-btn-carrinho input{
    border: none;
    font-size: 1.5em;
    background-color: white;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.cic p{
    font-size: 1.5em;
    margin: 0px;
    font-weight: bold;
}
.cic span{
   font-weight: 400;
}
.cic{
    margin-bottom: 10px;
    margin-top: 10px;
 }
.container-info-carrinhno{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}