.container-carrinho-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-bottom: 2px solid lightgray;
    margin-bottom: 1.25rem;
    padding-bottom: 1.25rem;

    max-width: 700px;
}

.div-image-carrinho img {
    object-fit: contain;
    height: 170px;
    width: 170px;
}

.c-2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 1.25rem;
}

.container-quant-preco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.c-container-buttons {
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-cen-carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.c-cen-carrinho span {
    font-size: 2rem;
}

.container-preco-carrinho span {
    font-size: 2rem;
}

.c-btn-carrinho input {
    border: none;
    font-size: 1.5rem;
    background-color: white;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.cic p {
    font-size: 1.5rem;
    margin: 0;
    font-weight: bold;
}

.cic span {
    font-weight: 400;
}

.cic {
    margin: .75rem 0;
}

.container-info-carrinhno {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
