.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.75rem 3.5rem;
    border-bottom: 2px solid #DCDCDC;
    margin-bottom: .75rem;
}

.header-container span {
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
}
.logo-link{
    padding: 0px;
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
}

.header-container ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header-container li {
    display: inline-block;
}
.opcoes-header{
    padding: 1rem;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 400;
}


.header-container a:hover {
    text-decoration: underline;
}

@media(max-width: 500px) {
    .header-container {
        flex-direction: column;
        gap: 1.5rem;
    }

}
