.centro-produto-container {
    display: flex;
    justify-content: center;

    margin-top: 3rem;
}

.produto-image-container {
    margin-right: 2.5rem;
    align-self: center;
}

.produto-image-container img {
    width: 270px;
    height: 450px;
    object-fit: contain;
}

.produto-infos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 500px;
}

.produto-titulo h1 {
    font-size: 2.5rem;
    margin-top: .5rem;
    font-weight: 400;
}

.produto-descricao p {
    color: #5F5F5F;
    font-size: 1.5rem;
    font-weight: 400;
    margin: .5rem 0;
}

.produto-tamanho {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.25rem;
}

.produto-tamanho p {
    font-size: 1.5rem;
    margin: 0;
}

.size-select {
    width: 30%;
    font-size: 1.1rem;
}

.produto-preco {
    margin: 2rem 0;
}

.produto-preco span {
    font-size: 2.25rem;
}

.produto-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.25rem;
}

.pb-container-esq {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pb-container-dir input {
    padding: .75em;
    font-size: 1.5rem;
    border: none;
    border-radius: 8px;
    background-color: lightgray;
    cursor: pointer;
}

.pb-btn input {
    width: 60px;
    height: 60px;
    background-color: white;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
}

.pb-btn input:hover {
    font-size: 2rem;
}

.pb-cen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: lightgray;
    font-size: 1.8rem;
}

.pb-container-dir input:hover {
    opacity: .8;
}

.alert {
    color: red;
    font-size: 1.1rem;
}

@media(max-width: 1250px) {
    .produto-image-container img {
        width: 180px;
        height: 300px;
    }
}

@media(max-width: 900px) {
    .produto-image-container img {
        width: 150px;
        height: 250px;
    }

    .produto-titulo h1 {
        font-size: 2rem;
    }

    .produto-descricao p {
        font-size: 1.25rem;
    }

    .produto-tamanho p {
        font-size: 1.25rem;
    }

    .produto-preco span {
        font-size: 1.8rem;
    }

    .pb-cen {
        width: 50px;
        height: 50px;
    }

    .pb-container-dir input {
        font-size: 1.25rem;
    }
}

@media(max-width: 800px) {
    .produto-image-container img {
        width: 150px;
        height: 250px;
    }

    .produto-titulo h1 {
        font-size: 1.75rem;
    }

    .produto-descricao p {
        font-size: 1rem;
    }

    .produto-tamanho p {
        font-size: 1rem;
    }

    .produto-preco span {
        font-size: 1.5rem;
    }

    .pb-container-dir input {
        font-size: 1.25rem;
    }
}

@media(max-width: 700px) {
    .centro-produto-container {
        flex-direction: column;
    }

    .produto-image-container {
        margin: 0 0 1rem 0;
    }

    .produto-infos {
        margin: 0 auto;
        text-align: center;
    }

    .pb-btn input {
        width: 50px;
        height: 50px;
    }
}

@media(max-width: 550px) {
    .produto-image-container img {
        width: 120px;
        height: 200px;
    }

    .produto-infos {
        width: 350px;
    }

    .produto-titulo h1 {
        font-size: 1.5rem;
    }

    .produto-descricao p {
        font-size: 1rem;
    }

    .produto-tamanho p {
        font-size: .8rem;
    }

    .produto-preco span {
        font-size: 1.25rem;
    }

    .pb-cen {
        width: 40px;
        height: 40px;
    }

    .pb-container-dir input {
        font-size: 1rem;
    }

}

@media(max-width: 450px) {
    .produto-titulo h1 {
        font-size: 1.25rem;
    }

    .produto-descricao p {
        font-size: .9rem;
    }

    .produto-tamanho p {
        font-size: .75rem;
    }

    .produto-preco span {
        font-size: 1rem;
    }

    .size-select {
        font-size: .9rem;
    }

}
