.nav-home-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-home-container ul {
    list-style: none;
    padding: 0;
}

.nav-home-container li {
    display: inline-block;
    margin: .75rem;
}

.nav-home-container a {
    text-decoration: none;
    background-color: #00034F;
    color: white;
    padding: .6rem 1.5rem;
    border-radius: 5px;
}
